section.banner.dark
  .banner-media
    .banner-media__container
      img(src=require('@/assets/img/banner-media.jpg'), alt='banner')

  ._container.banner__container
    .banner__wrapper
      .banner__content
        h1.banner__title Відкрий для себе лізинг

        p.banner__description Лізингова компанія <span>«Ексімлізинг»</span> пропонує сучасні та ефективні інструменти фінансування придбання легкових та комерційних автомобілів, обладнання, сільськогосподарської та будівельної техніки, а також комерційної нерухомості
