.popup-action
  p.popup-action__title Заповніть, будь ласка форму, і ми зв’яжемося з вами найближчим часом.

  .popup-action__main
    form#form-popup.form.popup-action__form(action='post') 
      //- div
      //-   label(for='popup-select') 
      //-     strong Тип звернення
      //-     select#popup-select(name='select', form='form-popup')
      //-       option(value='value 1', selected) value 1
      //-       option(value='value 2') value 2
      //-       option(value='value 3') value 3
      //-     span.wpcf7-not-valid-tip Невірний формат

      div
        label(for='popup-name') 
          strong Ваше ім’я
          input#popup-name(type='text', name='name')
          span.wpcf7-not-valid-tip Невірний формат

      div
        label(for='popup-email') 
          strong Електронна адреса
          input#popup-telephone(type='email', name='email')
          span.wpcf7-not-valid-tip Невірний формат

      div
        label(for='popup-message') 
          strong Повідомлення
          textarea#popup-message(name='message')
          span.wpcf7-not-valid-tip Невірний формат

      p
        button(type='submit') Надіслати

        span Натискаючи на кнопку "Надіслати" ви погоджуєтесь з
          a(href='#', target='_blank', rel='noreferrer') умовами конфіденційності
          span ТОВ "EXIMLeasing"
