.popup-feedback
  .popup-feedback__header
    .popup-feedback__label
      img(src=require('@/assets/img/success.svg'), alt='success')

    p.popup-feedback__title Дякуємо!

  p.popup-feedback__subtitle Вашу заявку прийнято. <br/>Чекайте на дзвінок найближчим часом.

  button.popup-feedback__button.popup__button.button-hollow
    span На головну
